.tasks {
  /* sample */
  width: 100%;
  height: 70%;
  padding: 0px;
  display: grid;
  /* padding-right: 30px;*/
  padding-left: 30px; 
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 20px;
}

.empty {
  /* sample */
}
